.catalog {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  padding-bottom: 20px;

  &__list {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 20px;
    position: relative;
    &::before {
      content: "Products not found!";
      width: 100%;
      text-align: center;
      font: inherit;
      font-size: 28px;
      position: absolute;
      top: 40px;
      left: 50%;
      transform: translateX(-50%);
    }
    &:has(>li) {
      &::before {
        display: none;
      }
    }
    @media (max-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 500px) {
      grid-template-columns: 1fr;
    }
  }
}

.c-item {
  width: 100%;
  max-width: 340px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
  padding: 5px;
  border: 1px solid $c-accent;
  cursor: pointer;
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
  &:hover {
    box-shadow: 0 0 5px $c-accent;
    transform: scale(1.02);
  }

  &__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  &__name {
    font-size: 20px;
    font-weight: 400;
  }

  &__descr {
    font-size: 16px;
    font-weight: 400;
  }

  &__price-box {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    &:has(.c-item__discount) {
      .c-item__price {
        text-decoration: line-through;
        color: $c-err;
      }
    }
  }

  &__discount {
    padding: 0 5px;
    background-color: $c-accent;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &::before {
      content: "sale";
      font-size: 16px;
      color: inherit;
    }
  }

  &__btn {
    padding: 5px;
    border: 1px solid $c-accent;
    color: inherit;
    font: inherit;
    width: 100%;
    cursor: pointer;
    background-color: $c-bg;
    transition: background-color 0.2s ease-out;
    &:hover {
      background-color: $c-accent;
    }
  }
}

.c-types {
  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
  }

  &__link {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid $c-accent;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
    &:hover {
      background-color: $c-accent;
    }
    &.active {
      pointer-events: none;
      background-color: $c-accent;
    }
  }
}

.query {
  padding: 10px 0;
  border-top: 1px solid $c-accent;
  border-bottom: 1px solid $c-accent;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;

  &__filters {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }

  &__filter-box,
  &__search-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
  }

  &__filter-select {
    font: inherit;
    color: inherit;
    background-color: $c-bg;
    border: 1px solid $c-accent;
    padding: 5px;
  }

  &__search {
    font: inherit;
    color: inherit;
    background-color: $c-white;
    border: 1px solid $c-accent;
    padding: 5px;
  }

  &__reset-btn {
    padding: 5px 10px;
    font: inherit;
    color: inherit;
    border: 1px solid $c-accent;
    background-color: $c-bg;
    transition: background-color 0.2s ease-out;
    cursor: pointer;
    &:hover {
      background-color: $c-accent;
    }
  }
}