$c-err-bg: #ffdadc;

.login {
  height: 100%;
  min-height: max-content;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;

  &__form {
    margin: auto;
    width: 100%;
    max-width: 340px;
    padding: 20px;
    border: 1px solid $c-accent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
  }

  &__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    position: relative;
    overflow: hidden;
  }

  &__input {
    width: 100%;
    font: inherit;
    color: inherit;
    padding: 5px;
    border: 1px solid $c-accent;
    background-color: $c-white;

    &.wrong {
      border-color: $c-err;
      background-color: $c-err-bg;
      & + .login__tip {
        display: block;
      }
    }

  }

  &__checkbox {
    position: absolute;
    bottom: 100%;
    right: 0;
    &:checked + .login__label-checkbox::after {
      opacity: 1;
    }
  }

  &__label-checkbox {
    user-select: none;
    font-size: 16px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    &::before {
      content: "";
      display: block;
      background-color: $c-white;
      border: 1px solid $c-accent;
      width: 10px;
      height: 10px;
    }
    &::after {
      content: "";
      display: block;
      background-color: $c-accent;
      width: 6px;
      height: 6px;
      position: absolute;
      top: 50%;
      left: 3px;
      transform: translateY(-50%);
      opacity: 0;
    }
  }

  &__btn {
    background-color: $c-bg;
    font: inherit;
    color: inherit;
    border: 1px solid $c-accent;
    width: 100%;
    cursor: pointer;
    padding: 5px;
    transition: background-color 0.2s ease-out;
    &:hover {
      background-color: $c-accent;
    }
    &:disabled {
      pointer-events: none;
      opacity: 0.4;
    }
  }

  &__reg-box {
    width: 100%;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  &__reg-link {
    cursor: pointer;
    padding: 5px 15px;
    border: 1px solid $c-accent;
    transition: background-color 0.2s ease-out;
    &:hover {
      background-color: $c-accent;
    }
  }

  &__tip {
    width: 100%;
    white-space: pre-wrap;
    font-size: 12px;
    background-color: $c-err-bg;
    padding: 10px;
    display: none;
  }
}