.main__hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(/src/assets/hero-image.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
}

.hero-text {
  font-size: 52px;
  font-weight: 400;
}

.hero-sub {
  font-size: 24px;
}

.hero-sub2 {
  font-size: 24px;
  margin: 8px 0 0 0;
}

.product {
  text-align: center;
  margin-top: 20px;
}

.product-text {
  font-size: 24px;
  margin-bottom: 20px;
}

.product-items {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.product-item {
  padding: 10px;
  // margin: 0 20px 0 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(25% - 20px);
  text-align: center;
  font-size: 16px;
  max-width: calc(25% - 20px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
}

.shirt-item {
  background-image: url(/src/assets/shirt.png);
}

.shorts-item {
  background-image: url(/src/assets/shorts.png);
}

.accessories-item {
  background-image: url(/src/assets/glasses.png);
}
