@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$c-white: #fff;
$c-black: #000;
$c-bg: #F9F0E1;
$c-accent: #FC7353;
$c-err: #961200;
$c-ok: #008D58;
$c-accent2: #9FBDF9;
$c-accent3: #F3D7FD;

html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: $c-bg;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: 768px) {
    padding: 0 10px;
  }
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    height: 50px;
    svg {
      width: 120px;
      height: 50px;
    }
  }
}

.nav {
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__item {
    position: relative;
    overflow: hidden;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $c-accent;
      z-index: 1;
      transition: transform 0.2s ease-out;
      transform: translateY(100%);
    }
    &:hover {
      &::before {
        transform: translateY(0);
      }
    }
  }

  &__link {
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    z-index: 10;
    &.active {
      background-color: $c-accent;
      pointer-events: none;
    }
  }
}

.u-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    &.hide {
      display: none;
    }
  }

  &__item {
    padding: 0 5px;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    &.active {
      pointer-events: none;
      background-color: $c-accent;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $c-accent;
      z-index: -1;
      transition: transform 0.2s ease-out;
      transform: translateY(100%);
    }
    &:hover {
      &::before {
        transform: translateY(0);
      }
    }
  }
}