@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$c-white: #fff;
$c-black: #000;
$c-bg: #f9f0e1;
$c-accent: #fc7353;
$c-err: #961200;
$c-ok: #008d58;
$c-accent2: #9fbdf9;
$c-accent3: #f3d7fd;

html,
body {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: $c-bg;
  position: relative;
  padding: 70px 0 0 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: 768px) {
    padding: 0 10px;
  }
}

@import "styles/header.scss";
@import "styles/registration.scss";
@import "styles/login.scss";
